name: Publish to Marketplace

on:
  push:
    branches:
      - main
    paths:
      - 'extensions/*/*.json'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - run: |
          echo "JAVA_HOME=$JAVA_HOME_17_X64" >> $GITHUB_ENV
          echo "$JAVA_HOME_17_X64/bin" >> $GITHUB_PATH

      - run: |
          curl -sLO https://download.clojure.org/install/linux-install-1.11.1.1113.sh
          chmod +x linux-install-1.11.1.1113.sh
          sudo ./linux-install-1.11.1.1113.sh

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - run: clojure -P
        name: Fetch deps

      - run: ./script/build.sh

      - uses: actions/upload-artifact@v3
        with:
          name: checkout
          path: checkout

  publish:
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - run: |
          echo "JAVA_HOME=$JAVA_HOME_17_X64" >> $GITHUB_ENV
          echo "$JAVA_HOME_17_X64/bin" >> $GITHUB_PATH

      - run: |
          curl -sLO https://download.clojure.org/install/linux-install-1.11.1.1113.sh
          chmod +x linux-install-1.11.1.1113.sh
          sudo ./linux-install-1.11.1.1113.sh

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v3
        with:
          name: checkout
          path: checkout

      - run: echo $FIREBASE_SERVICE_KEY > ./firebase-key.json
        env:
          FIREBASE_SERVICE_KEY: ${{ secrets.FIREBASE_SERVICE_KEY }}

      - run: clojure -P -M:firebase
        name: Fetch deps

      - run: ./script/publish.sh --key ./firebase-key.json